.adventages {
  background-color: #11131f;
  padding-top: 80px;
  padding-bottom: 56px;
}

.contaier-adventages {
  position: relative;
}

.adventages-img {
  width: 335px;
  height: 335px;
  margin-bottom: 24px;
}

.adventages-name {
  max-width: 72px;
  text-align: center;
  height: 15px;
  font-size: 14px;
  font-weight: 700;
  line-height: 110%;
  color: #11131f;
  background-color: white;
  border-radius: 60px;
  padding: 14px 28px;
  margin: 0;
  position: absolute;
  z-index: 10;
}

.diving {
  top: 274px;
  left: 24px;
}

.fishing {
  top: 633px;
  left: 24px;
}

.sunbathing {
  top: 992px;
  left: 24px;
}

@media screen and (min-width: 600px) and (max-width: 1024px) {
  .adventages {
    padding-top: 100px;
    padding-bottom: 56px;
    height: 1437px;
  }
  .contaier-adventages {
    position: relative;
  }
  .adventages-img {
    margin-bottom: 0px;
    position: absolute;
  }
  .diving-img {
    width: 704px;
    height: 632px;
    top: 0px;
  }
  .fishing-img {
    width: 400px;
    height: 389px;
    top: 664px;
    right: 0px;
  }
  .sunbathing-img {
    width: 380px;
    height: 352px;
    bottom: 0px;
    left: 0px;
  }
  .adventages-name {
    width: 92px;
    height: 20px;
    font-size: 18px;
  }
}
.header {
  padding: 24px 0px 24px 0px;
  background-color: #11131f;
}

.container-header {
  display: flex;
  justify-content: space-between;
}

.logo-wrapper {
  vertical-align: center;
}

.logo-icon {
  width: 18px;
  height: 18px;
}

.logo-title {
  text-transform: uppercase;
  width: 146px;
  height: 10px;
  font-weight: 500;
  font-size: 16px;
  text-decoration: none;
  color: white;
}

.burger-menu {
  color: white;
  width: 24px;
  height: 24px;
  margin: 0;
}

.header-list {
  display: flex;
  gap: 24px;
  margin: 0;
  display: none;
}

.header-link {
  color: white;
  font-weight: 700;
  font-size: 14px;
  text-transform: uppercase;
}

.header-link:hover {
  color: #c4cdff;
}

.burger-menu {
  width: 44px;
  height: 44px;
  background-color: #11131f;
  border: none;
  border-radius: 12px;
  z-index: 101;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  text-align: center;
  padding: 4px 0;
  gap: 4px;
}

.menu-line {
  width: 20px;
  height: 2px;
  background-color: white;
  border-radius: 1px;
}

.menu-overlay.active {
  transform: translateX(0);
}

.menu-overlay {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: #11131f;
  z-index: 100;
  transform: translateX(-100%);
}

.menu-header {
  position: relative;
  z-index: 10;
  align-items: center;
  justify-content: space-between;
  display: flex;
}

.close-btn {
  width: 40px;
  height: 40px;
  background-color: #11131f;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  position: relative;
}

.menu-list {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  width: 100%;
}

.mobile-screen {
  position: relative;
  overflow: hidden;
}

.menu-item {
  color: white;
  font-weight: 700;
  font-size: 14px;
  text-transform: uppercase;
  width: 50px;
  height: 17px;
}

@media screen and (min-width: 600px) and (max-width: 1024px) {
  .burger-menu {
    display: none;
  }
  .header-list {
    display: flex;
  }
  .logo-title {
    width: 185px;
    height: 13px;
    font-size: 18px;
  }
  .logo-icon {
    width: 23px;
    height: 23px;
  }
}
@media screen and (min-width: 1025px) {
  .burger-menu {
    display: none;
  }
  .header-list {
    display: flex;
  }
}
.hero {
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #11131f;
}

.conatiner-hero {
  position: relative;
}

.blur-hero {
  width: 279px;
  height: 279px;
  position: absolute;
  bottom: 108px;
  right: 202px;
  rotate: 45deg;
}

.hero-title {
  width: 332px;
  height: 120px;
  font-weight: 500;
  font-size: 36px;
  line-height: 110%;
  letter-spacing: -4.5%;
  margin-bottom: 14px;
  margin-top: 0;
  color: white;
}

.hero-paragraph {
  width: 332px;
  height: 100px;
  font-weight: 400;
  font-size: 14px;
  line-height: 140%;
  letter-spacing: -2%;
  color: white;
  margin-bottom: 34px;
}

.hero-btn-wrapper {
  display: flex;
  gap: 8px;
}

.hero-btn {
  height: 43px;
  border-radius: 60px;
  padding: 14px 28px;
  color: white;
  font-weight: 700;
  font-size: 14px;
  line-height: 110%;
  letter-spacing: -4.5%;
}

.btn-one:hover {
  cursor: pointer;
  background-color: #819394;
}

.btn-two:hover {
  cursor: pointer;
  background-color: #272c47;
}

.btn-one {
  width: 137px;
  border: none;
  background-color: #93abae;
}

.btn-two {
  width: 110px;
  border: 1px white solid;
  background-color: #11131f;
}

.hero-inner-container {
  position: relative;
  width: 363px;
  height: 465px;
}

.hero-bg-img {
  width: 335px;
  height: 427px;
  border-radius: 24px;
  bottom: 0px;
  right: 14px;
  position: absolute;
}

.hero-human-wrapper {
  display: flex;
  z-index: 2;
  position: absolute;
  width: 135px;
  height: 50px;
  top: 62.11px;
  left: 38.17px;
}

.hero-icon {
  width: 48px;
  height: 48px;
  border: 50%;
}

.inner-title {
  z-index: 2;
  position: absolute;
  top: 123.11px;
  left: 38.17px;
  width: 96px;
  height: 15px;
  font-weight: 700;
  font-size: 14px;
  text-transform: uppercase;
  margin: 0;
}

.inner-yacht-img {
  z-index: 2;
  position: absolute;
  bottom: 108px;
  left: 38.17px;
  right: 38.16px;
  width: 287px;
  height: 167px;
}

.inner-price {
  z-index: 2;
  position: absolute;
  bottom: 57px;
  left: 38px;
  width: 104px;
  height: 46px;
  font-weight: 400;
  font-size: 48px;
  text-transform: uppercase;
  margin: 0;
  vertical-align: center;
}

.inner-span {
  z-index: 4;
  position: absolute;
  bottom: 52px;
  right: 38px;
  width: 179px;
  height: 39px;
  font-weight: 400;
  font-size: 14px;
  line-height: 140%;
  color: #11131f;
}

.inner-man-img {
  z-index: 3;
  position: absolute;
  top: 73.11px;
  right: 0px;
  width: 133px;
  height: 133px;
  border-radius: 24px;
}

@media screen and (min-width: 600px) and (max-width: 1024px) {
  .hero-title {
    width: 698px;
    height: 132px;
    font-size: 60px;
    margin-bottom: 16px;
  }
  .hero {
    padding-top: 64px;
    padding-bottom: 50px;
  }
  .hero-paragraph {
    width: 539px;
    height: 66px;
    font-size: 16px;
    margin-bottom: 32px;
  }
  .hero-btn-wrapper {
    gap: 11px;
    margin-bottom: 11px;
  }
  .hero-btn-one {
    width: 150px;
  }
  .hero-btn-two {
    width: 117px;
  }
  .hero-icon {
    width: 56px;
    height: 56px;
  }
  .inner-title {
    top: 152.36px;
    left: 50px;
  }
  .hero-human-wrapper {
    top: 85px;
    left: 50px;
  }
  .hero-bg-img {
    width: 426px;
    height: 598px;
    bottom: 0;
    right: 18px;
  }
  .hero-inner-container {
    width: 462px;
    height: 651px;
  }
  .inner-span {
    width: 208px;
    height: 36px;
    bottom: 79px;
    right: 55px;
  }
  .inner-price {
    width: 130px;
    height: 66px;
    font-size: 60px;
    bottom: 64px;
    left: 55px;
  }
  .inner-yacht-img {
    width: 378px;
    height: 221px;
    bottom: 152px;
    left: 42.01px;
  }
  .inner-man-img {
    left: 357px;
    top: 85px;
    width: 233px;
    height: 233px;
  }
}
@media screen and (min-width: 1025px) {
  .hero {
    display: flex;
    flex-direction: row-reverse;
  }
  .hero-title {
    width: 554px;
    height: 198px;
    margin-bottom: 16px;
    font-size: 60px;
  }
  .hero-paragraph {
    width: 543px;
    height: 66px;
    font-size: 16px;
    margin-bottom: 32px;
    line-height: 140%;
  }
  .hero-btn-wrapper {
    gap: 11px;
    margin-bottom: 11px;
  }
  .hero-btn-one {
    width: 150px;
  }
  .hero-btn-two {
    width: 117px;
  }
  .hero-icon {
    width: 56px;
    height: 56px;
  }
  .inner-title {
    top: 152.36px;
    left: 50px;
  }
  .hero-human-wrapper {
    top: 85px;
    left: 50px;
  }
  .hero-bg-img {
    width: 425px;
    height: 597px;
    bottom: 0;
    right: 0px;
  }
  .hero-inner-container {
    width: 462px;
    height: 651px;
  }
  .inner-span {
    width: 208px;
    height: 36px;
    bottom: 79px;
    right: 55px;
  }
  .inner-price {
    width: 130px;
    height: 66px;
    font-size: 60px;
    bottom: 64px;
    left: 55px;
  }
  .inner-yacht-img {
    width: 378px;
    height: 221px;
    bottom: 152px;
    left: 42.01px;
  }
  .inner-man-img {
    left: 323px;
    top: 85px;
    width: 233px;
    height: 233px;
  }
  .conatiner-hero {
    display: flex;
    flex-direction: row-reverse;
    gap: 217px;
  }
}
.rent {
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #11131f;
  color: white;
}

.rent-title {
  width: 335px;
  height: 145px;
  font-weight: 500;
  font-size: 24px;
  line-height: 120%;
  letter-spacing: -4.5%;
  margin-bottom: 40px;
}

.rent-list {
  display: flex;
  gap: 14px;
  width: 335px;
  margin-bottom: 40px;
  margin-top: 0;
}

.rent-item-one {
  width: 160px;
  height: auto;
}

.rent-item-two {
  width: 161px;
  height: auto;
}

.rent-list-paragraph {
  font-weight: 400;
  font-size: 14px;
  line-height: 140%;
  letter-spacing: -2%;
  margin: 0;
}

.rent-img-one {
  width: 335px;
  height: 524px;
  margin-bottom: 24px;
}

.rent-img-two {
  width: 335px;
  height: 289px;
}

.rent-btn-wrapper {
  width: 335px;
  position: relative;
  margin-top: 24px;
  height: 355px;
}

.rent-img-three {
  position: absolute;
  right: 0;
  top: 0;
  width: 260px;
  height: 244px;
}

.rent-btn-title {
  z-index: 100;
  width: 312px;
  margin: 0;
  height: 120px;
  font-weight: 500;
  font-size: 36px;
  line-height: 110%;
  color: white;
  position: absolute;
  top: 146px;
  left: 0px;
}

.rent-btn {
  position: absolute;
  width: 131px;
  height: 43px;
  border-radius: 60px;
  border: 1px white solid;
  font-weight: 700;
  font-size: 14px;
  line-height: 110%;
  background-color: #11131f;
  color: white;
  bottom: 0px;
  left: 0px;
}

.rent-btn:hover {
  background-color: #181b2c;
}

.rent-img-three-destop {
  display: none;
}

.rent-btn-title-desktop {
  display: none;
  z-index: 100;
  font-weight: 500;
  font-size: 36px;
  line-height: 110%;
  color: white;
}

.rent-btn-desktop {
  display: none;
  border-radius: 60px;
  border: 1px white solid;
  font-weight: 700;
  font-size: 14px;
  line-height: 110%;
  background-color: #11131f;
  color: white;
}

.bg-ellips {
  position: absolute;
  width: 285px;
  height: 285px;
  background-color: #91afba;
  filter: blur(75px);
  z-index: 5;
  opacity: 0.6;
  border-radius: 50%;
}

@media screen and (min-width: 600px) and (max-width: 1024px) {
  .rent {
    padding-top: 50px;
    padding-bottom: 50px;
  }
  .rent-title {
    width: 514px;
    height: 152px;
    font-size: 32px;
    margin-bottom: 32px;
  }
  .rent-list {
    float: right;
    text-align: left;
    margin-bottom: 64px;
    gap: 32px;
  }
  .rent-img-one {
    width: 704px;
    height: 631px;
    margin-bottom: 32px;
  }
  .rent-img-two {
    width: 308px;
    height: 289px;
  }
  .rent-btn-wrapper {
    width: 698px;
    height: 380px;
  }
  .rent-btn-title {
    width: 641px;
    height: 231px;
    font-weight: 500;
    font-size: 70px;
    top: 30px;
  }
  .rent-btn {
    width: 153px;
    height: 48px;
  }
  .rent-img-three {
    right: 72px;
    top: -115px;
  }
  .bg-ellips {
    position: absolute;
    width: 399px;
    height: 399px;
    background-color: #91afba;
    filter: blur(140px);
    z-index: 5;
    opacity: 0.6;
    border-radius: 50%;
  }
  .rent-img-three-destop {
    display: none;
  }
  .rent-btn-title-desktop {
    display: none;
  }
  .rent-btn-desktop {
    display: none;
  }
}
@media screen and (min-width: 1025px) {
  .rent {
    padding-top: 80px;
    padding-bottom: 90px;
    height: 1549px;
    position: relative;
  }
  .rent-title {
    width: 514px;
    height: 152px;
    font-size: 32px;
    margin: 0;
  }
  .rent-list {
    float: right;
    text-align: left;
    gap: 32px;
    right: 0;
    position: absolute;
  }
  .rent-container {
    display: flex;
    justify-content: space-between;
    position: relative;
  }
  .rent-img-one {
    position: absolute;
    width: 533px;
    height: 473px;
    top: 306px;
    left: 372px;
    margin: 0;
  }
  .rent-img-two {
    position: absolute;
    width: 308px;
    height: 289px;
    top: 559px;
    left: 32px;
  }
  .rent-btn-wrapper {
    height: 1385px;
  }
  .rent-img-three {
    display: none;
  }
  .rent-btn-title {
    display: none;
  }
  .rent-btn {
    display: none;
  }
  .rent-img-three-destop {
    display: block;
    position: absolute;
    width: 260px;
    height: 244px;
    top: 811px;
    left: 372px;
  }
  .rent-btn-title-desktop {
    display: block;
    position: absolute;
    width: 882px;
    height: 370px;
    font-size: 100px;
    margin: 0;
    bottom: 112px;
    left: 199px;
  }
  .rent-btn-desktop {
    display: block;
    position: absolute;
    width: 153px;
    height: 48px;
    margin: 0;
    left: 199px;
    bottom: 0px;
  }
  .bg-ellips {
    position: absolute;
    width: 414px;
    height: 414px;
    background-color: #91afba;
    filter: blur(90px);
    z-index: 5;
    opacity: 0.3;
    border-radius: 50%;
    bottom: 130px;
    left: 190px;
  }
}
.slider {
  overflow: hidden;
  background-color: #11131f;
  color: white;
}

.slider-list {
  margin: 0;
  padding: 0;
  display: flex;
  background-color: #1f212d;
  border-radius: 24px;
  width: 335px;
  margin-bottom: 24px;
}

.slider-item {
  width: 335px;
  flex-shrink: 0;
  align-items: center;
  background-color: #1f212d;
  border-radius: 24px;
  list-style: none;
  text-align: center;
}

.slider-img {
  width: 299px;
  height: 251px;
  margin-bottom: 24px;
  margin-top: 18px;
}

.yacht-name-wrapper {
  display: flex;
  width: 299px;
  justify-content: space-between;
  margin-bottom: 24px;
  padding: 0px 18px;
}

.yacht-name {
  width: auto;
  height: 19px;
  font-weight: 700;
  font-size: 16px;
  line-height: 120%;
  text-transform: uppercase;
  color: white;
  margin: 0;
}

.yacht-type {
  width: 86px;
  height: 14px;
  opacity: 50%;
  font-weight: 400;
  font-size: 12px;
  line-height: 118%;
  text-transform: uppercase;
}

.yacht-qualities-list {
  width: auto;
  height: 109px;
  align-items: left;
  text-align: left;
  padding: 0px 18px;
}

.yacht-qualities-item {
  display: flex;
  justify-content: flex-start;
  gap: 32px;
  align-items: left;
  text-align: left;
}

.yacht-qualities-mod {
  width: 56px;
}

.yacht-qualities {
  font-weight: 400;
  font-size: 14px;
  line-height: 118%;
  height: 17px;
  margin: 0;
  align-items: left;
  text-align: left;
}

.slider-btn {
  width: 46px;
  height: 36px;
  background-color: #11131f;
  border: 1px white solid;
  border-radius: 60px;
  color: white;
  align-items: center;
  margin: 0 auto;
}

.slider-btn:hover {
  background-color: #1c1f33;
  cursor: pointer;
}

.slider-btn-wrapper {
  margin: 0 auto;
  align-items: center;
}

@media screen and (min-width: 600px) and (max-width: 1024px) {
  .slider-item {
    width: 344px;
  }
  .slider-list {
    width: 344px;
    gap: 16px;
  }
  .slider-img {
    width: 312px;
    height: 268px;
    margin-top: 16px;
    margin-bottom: 32px;
  }
  .yacht-name-wrapper {
    margin-bottom: 32px;
  }
}
@media screen and (min-width: 1025px) {
  .slider-img {
    width: 322px;
  }
  .slider-list {
    width: 1025px;
  }
}
.adventages-name, .logo-title, .header-link, .menu-item, .hero-title, .hero-paragraph, .hero-btn, .inner-title, .inner-price, .inner-span, .rent-title, .rent-list-paragraph, .rent-btn-title, .rent-btn, .rent-btn-title-desktop, .rent-btn-desktop, .yacht-name, .yacht-type, .yacht-qualities {
  font-family: "DM Sans", sans-serif;
  font-style: normal;
}

.container {
  margin: 0 auto;
  width: 335px;
  padding-inline-start: 0;
  margin-block-end: 0;
  overflow: hidden;
}

body {
  margin: 0;
  padding: 0;
  padding-inline-start: 0;
  margin-block-end: 0;
}

ul {
  list-style: none;
  padding-inline-start: 0;
  margin-block-end: 0;
}

a {
  text-decoration: none;
}

hr {
  margin: 0;
}

.title-separate {
  color: #bec7c2;
}

.line {
  width: 100%;
  height: 1px;
  background-color: rgba(246, 245, 239, 0.2);
  opacity: 20%;
}

@media screen and (min-width: 600px) and (max-width: 1024px) {
  .container {
    width: 698px;
    margin: 0 auto;
    padding: 0;
  }
}
@media screen and (min-width: 1025px) {
  .container {
    width: 1216px;
    margin: 0 auto;
    padding: 0;
  }
}/*# sourceMappingURL=style.css.map */