.adventages {
  background-color: #11131f;
  padding-top: 80px;
  padding-bottom: 80px;
}
.contaier-adventages {
  position: relative;
}
.adventages-img {
  width: 335px;
  height: 335px;
  margin-bottom: 24px;
}
.adventages-name {
  max-width: 72px;
  text-align: center;
  height: 15px;
  @extend %font;
  font-size: 14px;
  font-weight: 700;
  line-height: 110%;
  color: #11131f;
  background-color: white;
  border-radius: 60px;
  padding: 14px 28px;
  margin: 0;
  position: absolute;
  z-index: 10;
}
.diving {
  top: 274px;
  left: 24px;
}
.fishing {
  top: 633px;
  left: 24px;
}
.sunbathing {
  top: 992px;
  left: 24px;
}
@media screen and (min-width: 600px) and (max-width: 1024px) {
  .adventages {
  }
  .contaier-adventages {
    display: flex;
    flex-direction: column;
  }
  .adventages-img {
    margin-bottom: 32px;
  }
  .diving-img {
    width: 704px;
    height: 632px;
  }
  .fishing-img {
    width: 400px;
    height: 389px;
    flex-direction: end;
    text-align: right;
    align-items: right;
    margin-left: auto;
  }
  .sunbathing-img {
    width: 380px;
    height: 352px;
  }
  .adventages-name {
    max-width: 148px;
    height: 20px;
    font-size: 18px;
  }
  .diving {
    top: 552px;
    left: 32px;
  }
  .fishing {
    top: 973px;
    left: 336px;
  }
  .sunbathing {
    top: 1357px;
    left: 32px;
  }
}
@media screen and (min-width: 1025px) {
  .adventages-img {
    margin-bottom: 0;
  }
  .diving-img {
    width: 712px;
    height: 632px;
    border-radius: 40px;
  }
  .fishing-img {
    width: 440px;
    height: 428px;
    margin-left: auto;
    margin-left: 60px;
  }
  .sunbathing-img {
    width: 436px;
    height: 352px;
    margin: 64px 440px 0px 340px;
  }
  .diving {
    top: 552px;
    left: 32px;
  }
  .fishing {
    top: 552px;
    left: 808px;
  }
  .sunbathing {
    top: 968px;
    left: 372px;
  }
}
